# Node
node_modules/

# Database
*.db
*.sqlite
*.sqlite3

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Build
dist/
build/

# Electron cache
out/

# Environment files (por si luego agregas)
.env
